<div class='d-flex justify-content-center align-items-center'>
  <div class='col-md-6'>
    <h1> Question New </h1>

    <%= form_with model: @question, url: create_question_path, method: :post do |f| %>
      <p>
        <h4> <%= f.label :question %> </h4>
        <%= f.text_area :body, class:'form-control', style:'height: 70px;' %>
      </p>
      <p>
        <%= f.label :option_1 %>
        <%= f.text_area :option_1, class:'form-control', style:'height: 70px' %>
        <%= f.select :option_1_correct, ["false","true"], {}, { class:'form-select mt-2' } %>
      </p>
      <p>
        <%= f.label :option_2 %>
        <%= f.text_area :option_2, class:'form-control', style:'height: 70px' %>
        <%= f.select :option_2_correct, ["false","true"], {}, {class:'form-select mt-2' } %>
      </p>
      <p>
        <%= f.label :option_3 %>
        <%= f.text_area :option_3, class:'form-control', style:'height:70px' %>
        <%= f.select :option_3_correct, ["false","true"], {}, { class:'form-select mt-2' } %>
      </p>
      <p>
        <%= f.label :option_4 %>
        <%= f.text_area :option_4, class:'form-control', style:'height: 70px' %>
        <%= f.select :option_4_correct, ["false","true"], {}, { class:'form-select mt-2' } %>
      </p>                                                          
      <p>                                                              
        <%= f.label :option_5 %>                                 
        <%= f.text_area :option_5, class:'form-control', style:'height: 70px' %>
        <%= f.select :option_5_correct, ["false","true"], {}, { class:'form-select mt-2' } %>
      </p>
      <%= f.submit "Add Question", class:'btn btn-primary' %>
    <% end %>
  </div>
</div>