<div class='d-flex justify-content-center align-items-center'>
  <div class='row col-6'>
    <div class='col-md-12'>
      <h1> New Quiz</h1>
      <%= form_with model:@quiz, url: create_quiz_path, method: :post do |f| %>
        <p>
          <h6> <%= f.label :name %> </h6>
          <%= f.text_field :name, class:'form-control' %>
        </p>
        <p>
          <%= f.select :course, [@course.id], {}, {class:'form-select quiz-number'} %>
          <%= f.select :assessment, [@assessment.id], {},{class:'form-select quiz-number'} %>
        </p>
        <p>
          <h6> <%= f.label :number_of_questions_in_quiz %> </h6>
          <%= f.number_field :number_of_questions, in: 1..20, step: 1, class:'form-control' %>
        </p>
        <%= f.submit "Submit", class:'btn btn-success col-md-2' %>
      <% end %>
    </div>
  </div>
</div>
