<div class='d-flex align-items-center justify-content-center mt-4'>
  <div class='col-md-6'>

    <div class="card text-center" style='border-radius:20px'>
      <div class="card-header">
        <h5> <%= @assessment.name %> </h5>
      </div>
      <div class="card-body">
        <h5 class="card-title"> <%= @assessment.assess_type %> </h5>
        <p class="card-text"> <%= @assessment.description %> </p>
        <% if @assessment.question_papers.attached? %>
          <% @assessment.question_papers.each_with_index do |file, index|%>
            <p> <%= link_to file.name, url_for(file), style:'color:black' %> </p>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <div class='d-flex align-items-center justify-content-center'>
      <%= link_to "Course", show_course_path(id: @course.id), class:'btn btn-primary mt-4 mb-4 col-2' %>
      <% if @course.user_id == Current.user.id %>
        &nbsp &nbsp
        <%= link_to "Edit", edit_assessment_path(id: @assessment.id), class:'btn btn-warning mt-4 mb-4 col-2' %>
      <% end %>
    </div>
  </div>
</div>

