<div class='d-flex justify-content-center align-items-center' style='padding-top:20px'>
  <div class='col-md-5'>
    <div class="card">
      <div class="card-header text-center">
        <%= image_tag( @user.photo, class:'profile-pic') if @user.photo.present? %>
        <h3 class='mt-3'> <%= @user.name %> </h3>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p> <strong>Email: </strong> <%= @user.email %> </p>
          <% if @user.teacher == true %>
            <p> <strong>Status: </strong> teacher </p>
          <% else %>
            <p> <strong>Status: </strong> learner </p>
          <% end %>
          <hr>
          <% if Current.user.teacher == false %>
            <h5> Courses Joined </h5>
          <% else %>
            <h5> Courses Taught </h5>
          <% end %>
          <% @courses.each do |course| %>
            <p style='margin-left:20px'> <%= course.name%> </p>
          <% end %>
        </blockquote>
      </div>
    </div>
    <% if Current.user.id == @user.id %>
      <div class='d-flex align-items-center justify-content-center'>
      <%= link_to "Edit Account",   edit_user_path(id: @user.id), class:'btn btn-success mt-4 col-3' %> 
      &nbsp &nbsp &nbsp
      <%= link_to "Delete Account", destroy_user_path(id:@user.id), class:'btn btn-danger mt-4 col-3', data:{turbo_method: :delete, turbo_confirm: "Delete Account?"} %>
      </div>
    <% end %>
  </div>
</div>
