<div class='d-flex justify-content-center align-items-center'>
  <div class='col-md-6 mt-4'>
    <div class="card round">
      <div class="card-header text-center">
        <h3> <%= @course.name %> </h3>
      </div>
      <div class="card-body">
        <h5> Description </h5>
        <%= @course.description %>
        <h5 class='mt-3'> Teacher </h5>
        <%= User.find(@course.user_id).name %>
      </div>
    </div>
    <% if @course.user_id == Current.user.id %>
      <%= link_to edit_course_path(id:@course.id), class:'btn btn-warning mt-4 col-3' do %>
        <%= fa_icon "pencil-square" %> Edit Course
      <% end %>
      <%= link_to new_lesson_path(id: @course.id), class:'btn mt-4 col-3', style:'color:white; background-color:blue' do %>
        <%= fa_icon "plus-circle" %> New Lesson
      <% end %>
      <%= link_to new_assessment_path, class:'btn mt-4 col-3', style:'background-color: gray' do %> 
        <%= fa_icon "percent" %> New Assessment
      <% end %>
      <%= link_to new_quiz_path(id: @course.id), class:'btn mt-4 col-2', style:'background-color: lightblue' do %>
        <%= fa_icon "gg" %> New Quiz
      <% end %>
    <% end %>
    <div class='mt-4'>
      <h4> <%= link_to "Lessons", list_lessons_path(id: @course.id), style:'color:black' %> </h4>
      <% if @course.quizzes.present? %> 
        <h4 class='mt-4'> <%= link_to "Quizzes", list_quizzes_path(id: @course.id), style:'color: black' %> </h4>
      <% end %>
    </div>
  </div>
</div> 
